@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
	--font-header: "header", sans-serif;
	--font-body: "body", sans-serif;
	--primary: "#3d2b1f";
	/* --color-secondary: "#ebb841";
	--color-tertiary: "#76a741";
	--color-neutral: "#f9f7f5" */
  
}

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes variables users need to customize
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(30.68% 0.0337 54.78);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0145 54.78);
  --border: oklch(90.00% 0.0145 54.78);
  --danger: oklch(65.32% 0.2396 1.85);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0145 54.78);
  --default-foreground: oklch(21.03% 0.0059 54.78);
  --field-background: oklch(100.00% 0.0073 54.78);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0145 54.78);
  --field-placeholder: oklch(55.17% 0.0290 54.78);
  --focus: oklch(30.68% 0.0337 54.78);
  --foreground: oklch(21.03% 0.0145 54.78);
  --muted: oklch(55.17% 0.0290 54.78);
  --overlay: oklch(100.00% 0.0043 54.78);
  --overlay-foreground: oklch(21.03% 0.0145 54.78);
  --scrollbar: oklch(87.10% 0.0145 54.78);
  --segment: oklch(100.00% 0.0145 54.78);
  --segment-foreground: oklch(21.03% 0.0145 54.78);
  --separator: oklch(92.00% 0.0145 54.78);
  --success: oklch(73.29% 0.1991 126.92);
  --success-foreground: oklch(21.03% 0.0059 126.92);
  --surface: oklch(100.00% 0.0073 54.78);
  --surface-foreground: oklch(21.03% 0.0145 54.78);
  --surface-secondary: oklch(95.24% 0.0116 54.78);
  --surface-secondary-foreground: oklch(21.03% 0.0145 54.78);
  --surface-tertiary: oklch(93.73% 0.0116 54.78);
  --surface-tertiary-foreground: oklch(21.03% 0.0145 54.78);
  --warning: oklch(78.19% 0.1631 48.44);
  --warning-foreground: oklch(21.03% 0.0059 48.44);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(30.68% 0.0337 54.78);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0145 54.78);
  --border: oklch(28.00% 0.0145 54.78);
  --danger: oklch(59.40% 0.2024 0.74);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0145 54.78);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0290 54.78);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0145 54.78);
  --field-placeholder: oklch(70.50% 0.0290 54.78);
  --focus: oklch(30.68% 0.0337 54.78);
  --foreground: oklch(99.11% 0.0145 54.78);
  --muted: oklch(70.50% 0.0290 54.78);
  --overlay: oklch(21.03% 0.0290 54.78);
  --overlay-foreground: oklch(99.11% 0.0145 54.78);
  --scrollbar: oklch(70.50% 0.0145 54.78);
  --segment: oklch(39.64% 0.0145 54.78);
  --segment-foreground: oklch(99.11% 0.0145 54.78);
  --separator: oklch(25.00% 0.0145 54.78);
  --success: oklch(73.29% 0.1991 126.92);
  --success-foreground: oklch(21.03% 0.0059 126.92);
  --surface: oklch(21.03% 0.0290 54.78);
  --surface-foreground: oklch(99.11% 0.0145 54.78);
  --surface-secondary: oklch(25.70% 0.0218 54.78);
  --surface-secondary-foreground: oklch(99.11% 0.0145 54.78);
  --surface-tertiary: oklch(27.21% 0.0218 54.78);
  --surface-tertiary-foreground: oklch(99.11% 0.0145 54.78);
  --warning: oklch(82.03% 0.1428 52.45);
  --warning-foreground: oklch(21.03% 0.0059 52.45);
}
